/*  your css code here. If applicable */

table{
	border:1px solid Orange;
	border-collapse:collapse;
	width:100%;
	
}
th{
	background-color:#888888;
	color:white;
	border:1px solid orange;
	
}
td{
	text-align:center;
	border:1px solid orange;
	padding:3px 5px;
}
